// '#4dc9f6',
// '#f67019',
// '#f53794',
// '#537bc4',
// '#acc236',
// '#166a8f',
// '#00a950',
// '#58595b',
// '#8549ba',
.db {
  background-color: var(--var-color1);
}
.db.db-color1 {
  --var-color1: #4dc9f6;
}
.db.db-color2 {
  --var-color1: #f67019;
}
.db.db-color3 {
  --var-color1: #f53794;
}
.db.db-color4 {
  --var-color1: #537bc4;
}
.db.db-color5 {
  --var-color1: #acc236;
}
.db.db-color6 {
  --var-color1: #166a8f;
}
.db.db-color7 {
  --var-color1: #00a950;
}
.db.db-color8 {
  --var-color1: #58595b;
}
.db.db-color9 {
  --var-color1: #8549ba;
}
