/* You can add global styles to this file, and also import other style files */
.layout {
  min-height: 100vh;
}

.nav-link {
  border-radius: 0;
}
/* Default theme */
:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-body-bg: #ffffff;
  --bs-body-color: #212529;
}

/* Dark Theme */
[data-theme='dark'] {
  --bs-primary: #ff9800;
  --bs-secondary: #9e9e9e;
  --bs-body-bg: #121212;
  --bs-body-color: #ffffff;
  table.table.dataTable > :not(caption) > * > * {
    background-color: var(--bs-body-color);
  }
  .card-header {
    color: var(--bs-body-bg);
  }
}

/* Green Theme *

/* Purple Theme */
[data-theme='purple'] {
  --bs-primary: #6f42c1;
  --bs-secondary: #f8f4ff;
  --bs-body-bg: #f8f4ff;
  --bs-body-color: #6f42c1;

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: var(--bs-secondary);
    background-color: var(--bs-primary);
  }

  .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-primary);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }
  .active > .page-link,
  .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
  .page-link {
    color: var(--bs-primary);
  }
}
/* Purple Theme */

[data-theme='theme1'] {
  --bs-primary: #4059ad;
  --bs-secondary: #fafbff;
  --bs-body-bg: #fafbff;
  --bs-body-color: #4059ad;

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: var(--bs-secondary);
    background-color: var(--bs-primary);
  }

  .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-primary);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }
  .active > .page-link,
  .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
  .page-link {
    color: var(--bs-primary);
  }
}
[data-theme='theme2'] {
  --bs-primary: #6f1a07;
  --bs-secondary: #fff7f5;
  --bs-body-bg: #fff7f5;
  --bs-body-color: #6f1a07;

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: var(--bs-secondary);
    background-color: var(--bs-primary);
  }

  .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-primary);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }
  .active > .page-link,
  .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
  .page-link {
    color: var(--bs-primary);
  }
}
[data-theme='theme3'] {
  --bs-primary: #97d8c4;
  --bs-secondary: #fff;
  --bs-body-bg: #fff;
  --bs-body-color: #97d8c4;

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: var(--bs-secondary);
    background-color: var(--bs-primary);
  }

  .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-primary);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }
  .active > .page-link,
  .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
  .page-link {
    color: var(--bs-primary);
  }
}
[data-theme='theme4'] {
  --bs-primary: #f4b942;
  --bs-secondary: #f5f5f5;
  --bs-body-bg: #f5f5f5;
  --bs-body-color: #f4b942;

  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bs-primary);
    --bs-btn-disabled-border-color: var(--bs-primary);
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: var(--bs-secondary);
    background-color: var(--bs-primary);
  }

  .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-primary);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition:
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }
  .active > .page-link,
  .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
  .page-link {
    color: var(--bs-primary);
  }
}
